In [1]:
import pandas as pd
import requests, json
from config import fred_api_key, quandl_api_key, eia_api_key
import datetime as dt
import pprint
import os
import matplotlib as plt

In [22]:
combined_df = pd.read_csv(filepath_or_buffer = '../data/combined_df.csv')
combined_df.head()

,date,consumer_sentiment,copper_price,deficit,velocity,oil_inv,Contraction,Unemployment,One Year Bond,Ten Year Bond,GDP,Discount Rate
0,1960-04-01,93.3,0.311057,301.0,1.797,31613,1.0,5.2,3.87,4.26,3258.088,3.88
1,1960-07-01,97.2,0.303747,301.0,1.780,31613,1.0,5.5,3.07,3.83,3274.029,3.23
2,1960-10-01,90.1,0.282263,301.0,1.737,31613,1.0,6.3,2.99,3.89,3232.009,3.00
3,1961-01-01,91.6,0.281681,-3335.0,1.723,31759,0.0,6.8,2.87,3.79,3253.826,3.00
4,1961-04-01,92.5,0.306175,-3335.0,1.724,31759,0.0,7.0,2.94,3.79,3309.059,3.00

In [23]:
economic_indicators_df = pd.read_csv(filepath_or_buffer = '../data/EconomicIndicators.csv')
economic_indicators_df.head()

         Date  Contraction  Unemployment  Yield Spread  GDP pct change
0  1953-04-01          0.0           2.6          0.57        0.772984
1  1953-07-01          1.0           2.7          0.63       -0.562694
2  1953-10-01          1.0           3.7          0.93       -1.513976
3  1954-01-01          1.0           5.3          1.21       -0.478013
4  1954-04-01          1.0           5.8          1.47        0.108991

In [24]:
for index, row in combined_df.iterrows():
    combined_df['date'][index] = dt.date.fromisoformat(row.date)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [33]:
for index, row in economic_indicators_df[0:5].iterrows():
    economic_indicators_df.Date[index] = dt.date.fromisoformat(row.Date)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [ ]:
plt.plot(combined_df.date, combined_df.co)