In [1]:
import pandas as pd
import requests, json
from config import fred_api_key, quandl_api_key
import datetime as dt

In [2]:
# FRED access and criteria
realtime_start = "1920-01-01"
realtime_end = "9999-12-31"
series_id = "UMCSENT"
frequency= "q"
consumer_address = f"https://api.stlouisfed.org/fred/series/observations?series_id={series_id}&frequency={frequency}&api_key={fred_api_key}&file_type=json"

# Quandl access and criteria
exchange_code = "CME_HG1"
copper_address = f"https://www.quandl.com/api/v3/datasets/CHRIS/{exchange_code}?api_key={quandl_api_key}"

In [3]:
# FRED json
consumer_json = requests.get(consumer_address).json()

# Quandl json
copper_json = requests.get(copper_address).json()

In [4]:
# Quandl cleaning headers for dataframe
copper_headers = copper_json["dataset"]["column_names"]
clean_copper_headers = []
for header in copper_headers:
    header = header.lower().replace(" ", "_")
    clean_copper_headers.append(header)

In [6]:
# FRED data frame clean and create
consumer_df = pd.DataFrame(consumer_json["observations"])
consumer_df = consumer_df[consumer_df.value != '.']
consumer_df = consumer_df.reset_index()
consumer_df = consumer_df.drop(columns = ["index","realtime_end","realtime_start"], axis=1)

# Quandl data frame
copper_df = pd.DataFrame(copper_json["dataset"]["data"], columns = clean_copper_headers)

In [7]:
# FRED integer and datetime changer
for index, row in consumer_df.iterrows():
    row.date = dt.date.fromisoformat(row.date)
    row.value = float(row.value)
    
# Quandl integer and datetime changer
for index, row in copper_df[14:35].iterrows():
    row.date = dt.date.fromisoformat(row.date)
    mon = row.date.month
    if mon >= 1 and mon <= 3:
        mon = 1
    elif mon >= 4 and mon <= 6:
        mon = 4
    elif mon >= 7 and mon <= 9:
        mon = 7
    elif mon >= 10 and mon <= 12:
        mon = 10
    print(mon)
    row.date = row.date.replace(month = mon , day = 1)
    print(row.date)

1
2019-01-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01
10
2018-10-01

In [8]:
copper_df.head(50)

,date,open,high,low,last,change,settle,volume,previous_day_open_interest
0,2019-01-23,2.6915,2.6940,2.6915,2.6925,0.0050,2.6940,141.0,784.0
1,2019-01-22,2.7125,2.7125,2.6865,2.6900,0.0520,2.6890,157.0,704.0
2,2019-01-18,2.7040,2.7360,2.7040,2.7270,0.0410,2.7410,102.0,640.0
3,2019-01-17,2.6815,2.7125,2.6780,2.7125,0.0065,2.7000,150.0,512.0
4,2019-01-16,2.6755,2.6830,2.6755,2.6815,0.0430,2.6935,122.0,496.0
5,2019-01-15,2.6600,2.6700,2.6490,2.6515,0.0050,2.6505,118.0,555.0
6,2019-01-14,2.6380,2.6405,2.6355,2.6355,0.0240,2.6455,125.0,567.0
7,2019-01-11,2.6520,2.6520,2.6440,2.6440,0.0260,2.6695,77.0,627.0
8,2019-01-10,2.6545,2.6545,2.6380,2.6420,0.0185,2.6435,91.0,852.0
9,2019-01-09,2.6565,2.6785,2.6565,2.6715,0.0015,2.6620,116.0,1008.0
10,2019-01-08,2.6485,2.6515,2.6375,2.6515,0.0195,2.6605,185.0,1595.0
11,2019-01-07,2.6445,2.6490,2.6410,2.6410,0.0105,2.6410,103.0,1756.0
12,2019-01-04,2.6105,2.6515,2.6105,2.6480,0.0810,2.6515,41.0,1934.0
13,2019-01-03,2.5900,2.6010,2.5495,2.5800,0.0545,2.5705,178.0,3854.0
14,2019-01-02,2.6660,2.6660,2.5995,2.6090,0.0030,2.6250,383.0,4002.0
15,2018-12-31,2.6730,2.6730,2.6275,2.6360,0.0510,2.6280,1046.0,3473.0
16,2018-12-28,2.6830,2.7140,2.6735,2.6760,0.0115,2.6790,1499.0,3312.0
17,2018-12-27,2.6855,2.6860,2.6805,2.6805,0.0410,2.6675,96.0,868.0
18,2018-12-26,2.6700,2.7065,2.6500,2.7000,0.0400,2.7085,118.0,1017.0
19,2018-12-24,2.6750,2.6750,2.6750,2.6750,0.0100,2.6685,84.0,1099.0
20,2018-12-21,2.6905,2.6960,2.6675,2.6695,0.0235,2.6785,236.0,1231.0
21,2018-12-20,2.6690,2.7080,2.6690,2.6925,0.0195,2.7020,181.0,1254.0
22,2018-12-19,2.6860,2.7175,2.6795,2.6905,0.0505,2.7215,215.0,1264.0
23,2018-12-18,2.7400,2.7400,2.6600,2.6610,0.0820,2.6710,553.0,1396.0
24,2018-12-17,2.7530,2.7530,2.7185,2.7450,0.0075,2.7530,449.0,1571.0
25,2018-12-14,2.7600,2.7600,2.7285,2.7530,0.0020,2.7605,525.0,1778.0
26,2018-12-13,2.7880,2.7880,2.7615,2.7625,0.0060,2.7625,115.0,1941.0
27,2018-12-12,2.7615,2.7680,2.7535,2.7600,0.0025,2.7685,440.0,2218.0
28,2018-12-11,2.7260,2.7730,2.7230,2.7645,0.0475,2.7660,261.0,2461.0
29,2018-12-10,2.7365,2.7460,2.7155,2.7200,0.0390,2.7185,249.0,2692.0
30,2018-12-07,2.7610,2.7620,2.7455,2.7495,0.0170,2.7575,463.0,2983.0
31,2018-12-06,2.7590,2.7590,2.7050,2.7450,0.0275,2.7405,759.0,3372.0
32,2018-12-05,2.7465,2.7690,2.7350,2.7660,0.0195,2.7680,803.0,3902.0
33,2018-12-04,2.7945,2.8105,2.7400,2.7485,0.0510,2.7485,612.0,4295.0
34,2018-12-03,2.8000,2.8470,2.7790,2.7790,0.0220,2.7995,1307.0,4950.0
35,2018-11-30,2.7780,2.7905,2.7570,2.7765,0.0005,2.7775,1327.0,5747.0
36,2018-11-29,2.7905,2.7965,2.7685,2.7780,0.0175,2.7780,10190.0,11155.0
37,2018-11-28,2.7365,2.7610,2.7360,2.7610,0.0855,2.7960,232.0,421.0
38,2018-11-27,2.7255,2.7330,2.7255,2.7330,0.0480,2.7105,37.0,463.0
39,2018-11-26,2.7630,2.7630,2.7510,2.7520,0.0120,2.7585,62.0,500.0
40,2018-11-23,NaN,NaN,NaN,NaN,0.0240,2.7705,52.0,497.0
41,2018-11-21,2.7565,2.7860,2.7565,2.7860,0.0280,2.7945,88.0,599.0
42,2018-11-20,2.7905,2.8185,2.7850,2.7850,0.0380,2.7665,182.0,668.0
43,2018-11-19,2.7800,2.7960,2.7655,2.7925,0.0005,2.8045,326.0,541.0
44,2018-11-16,2.7990,2.7990,2.7930,2.7930,0.0550,2.8040,111.0,589.0
45,2018-11-15,2.7450,2.7510,2.7450,2.7510,0.0395,2.7490,34.0,727.0
46,2018-11-14,NaN,NaN,NaN,NaN,0.0225,2.7095,115.0,933.0
47,2018-11-13,2.7200,2.7200,2.6800,2.6800,0.0090,2.6870,228.0,758.0
48,2018-11-12,NaN,NaN,NaN,NaN,0.0085,2.6780,33.0,813.0
49,2018-11-09,2.7300,2.7300,2.6805,2.6895,0.0505,2.6865,66.0,969.0

In [ ]:
consumer_df.head()

In [ ]:
consumer_df.plot(x="date",y="value", kind="line", figsize=(30,10))

In [ ]:
copper_chart = copper_df.plot(x="date", y="settle", kind="line", figsize=(30,10))