In [1]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os

In [2]:
combined_df = pd.read_csv(filepath_or_buffer = '../data/combined_df.csv')
combined_df.head()

,date,consumer_sentiment,copper_price,deficit,velocity,oil_inv,Contraction,Unemployment,One Year Bond,Ten Year Bond,GDP,Discount Rate
0,1960-04-01,93.3,0.311057,301.0,1.797,31613,1.0,5.2,3.87,4.26,3258.088,3.88
1,1960-07-01,97.2,0.303747,301.0,1.780,31613,1.0,5.5,3.07,3.83,3274.029,3.23
2,1960-10-01,90.1,0.282263,301.0,1.737,31613,1.0,6.3,2.99,3.89,3232.009,3.00
3,1961-01-01,91.6,0.281681,-3335.0,1.723,31759,0.0,6.8,2.87,3.79,3253.826,3.00
4,1961-04-01,92.5,0.306175,-3335.0,1.724,31759,0.0,7.0,2.94,3.79,3309.059,3.00

In [6]:
target = combined_df["Contraction"]
target_names = ["expansion", "recession"]

In [4]:
# data = combined_df.drop(["Contraction", 'date', 'Unemployment', 'One Year Bond', 'GDP', 'Discount Rate', 'Ten Year Bond'], axis=1)
# feature_names = data.columns
# data.head()

   consumer_sentiment  copper_price  deficit  velocity  oil_inv
0                93.3      0.311057    301.0     1.797    31613
1                97.2      0.303747    301.0     1.780    31613
2                90.1      0.282263    301.0     1.737    31613
3                91.6      0.281681  -3335.0     1.723    31759
4                92.5      0.306175  -3335.0     1.724    31759

In [11]:
data = combined_df.drop(["Contraction", 'date', 'consumer_sentiment', 'copper_price', 'deficit', 'velocity', 'oil_inv'], axis=1)
feature_names = data.columns
data.head()

   Unemployment  One Year Bond  Ten Year Bond       GDP  Discount Rate
0           5.2           3.87           4.26  3258.088           3.88
1           5.5           3.07           3.83  3274.029           3.23
2           6.3           2.99           3.89  3232.009           3.00
3           6.8           2.87           3.79  3253.826           3.00
4           7.0           2.94           3.79  3309.059           3.00

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [13]:
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [ ]:
# from sklearn.model_selection import GridSearchCV
# param_grid = {'C': [1, 5, 10, 50],
#               'gamma': [0.0001, 0.0005, 0.001, 0.005]}
# grid = GridSearchCV(model, param_grid, verbose=2)

In [ ]:
# grid.fit(X_train, y_train)

In [ ]:
# print(grid.best_score_)

In [14]:
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.877

In [15]:
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

   expansion       0.89      0.98      0.93        48
   recession       0.75      0.33      0.46         9

   micro avg       0.88      0.88      0.88        57
   macro avg       0.82      0.66      0.70        57
weighted avg       0.87      0.88      0.86        57